<ion-header class="dashboard-header">
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <div class="title-header">
                        <button ion-button menuToggle>
                            <ion-icon name="menu"></ion-icon>
                        </button>
                        <div class="title-text">
                        	<span>Dashboard</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content class="dashboard-content">

	<ion-grid class="button-group"  *ngIf="servicos?.length > 0">
  		<ion-row>
    		<ion-col>
      			<button ion-button block (click)="semanal()">Semanal</button>
    		</ion-col>
    		<ion-col>
      			<button ion-button block (click)="mensal()">Mensal</button>
    		</ion-col>
    		<ion-col>
      			<button ion-button block (click)="anual()">Anual</button>
    		</ion-col>
  		</ion-row>
	</ion-grid>
    <ion-card-content style="align-content: center;">
      <ion-row>
        <ion-col col-12>
          <!-- LOCAL PARA POOR GRAFICO -->
          <google-chart [data]="pieChartData"></google-chart>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <div padding>
        <ion-grid>
            <ion-row *ngIf="servicos?.length > 0; else noServices">
                <ion-col col-12>
                    <h2>Meus Serviços</h2>
                </ion-col>
                <ion-col col-12>
                    <ion-list *ngFor="let servico of servicos">
                        <item-list-dashboard *ngIf="mostraServico(servico)" [servico]="servico" (click)="openDetalhes(servico)"></item-list-dashboard>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ng-template #noServices>
                <ion-col col-12>
                    <span>Você não está atrelado a nenhum serviço ativo no momento.</span>
                </ion-col>
            </ng-template>
        </ion-grid>
    </div>

</ion-content>
