<ion-header class="dashboard-header">
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <div class="title-header">
                        <button ion-button menuToggle>
                            <ion-icon name="menu"></ion-icon>
                        </button>
                        <div class="title-text">
                        	<span>Dashboard</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content class="spinner-view" [hidden]="loaded" style="margin-top: auto; margin-bottom: auto;" white-background="">
  <spinner [data]="spinnerItem"></spinner>
</ion-content>
<ion-content class="dashboard-content"  white-background [hidden]="!loaded">
  <div *ngIf="temServicos">
    <ion-grid class="button-group">
      <ion-row>
        <ion-col>
          <button ion-button block (click)="carregaServicosBaseadoData('semanal')" [attr.autofocus]="temServicos ? 'autofocus':''">Semanal</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="carregaServicosBaseadoData('mensal')">Mensal</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="carregaServicosBaseadoData('anual')">Anual</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [hidden]="graficoCarregado" style="margin-top: auto; margin-bottom: auto;">
      <ion-row>
        <ion-col col-12 class="spinner-view">
          <spinner [data]="spinnerItem" class="spinner-dashboard"></spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div [hidden]="!graficoCarregado">
      <ion-card-content style="align-content: center;" *ngIf="servicos.length > 0">
        <ion-row>
          <ion-col col-12>
            <google-chart [data]="pieChartData"></google-chart>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <div padding *ngIf="servicos.length > 0">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h2>Meus Serviços</h2>
            </ion-col>
            <ion-col col-12>
              <ion-list *ngFor="let servico of servicos">
                <item-list-dashboard [servico]="servico" (click)="openDetalhes(servico)"></item-list-dashboard>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="servicos.length == 0" style="align-content: center;">
        <ion-row>
          <ion-col col-12>
            <ion-icon ios="ios-sad" md="md-sad" style="color: #0090d0; font-size: 56px; padding-left:120px;"></ion-icon>
            <p style="font-size:18px; padding-left: 30px;">Você não possui serviços no período solicitado.<p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>


  <div padding *ngIf="!temServicos">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-card>
            <ion-card-header>
              <img src="assets/imgs/logo-login.png" style="width:70px; height:70px; margin: 0 auto;">
              <h2 item-title-header text-center style="color: #0090d0; font-family: Dessau-Light; font-size: 25px;">trampo</h2>
              <hr/>
              <ion-card-title text-center style="color: #0090d0">Bem-Vindo</ion-card-title>
            </ion-card-header>

            <ion-card-content style="text-align: justify;">
              <p>&nbsp; Olá <strong>{{nomeUsuario}}</strong>, nós da equipe <strong style="color: #0090d0;">trampo</strong> estamos muito felizes por tê-lo(a) trabalhando aqui conosco.

              Que tal começar de fato trabalhando na sua área?</p>
              <p>&nbsp; Os serviços disponíveis baseado nas suas especialidades fornecidas podem ser encontradas clicando no botão abaixo.</p>
            </ion-card-content>
          </ion-card>
          <hr/>
          <button default-button full ion-button (click)="openServicosDisponiveis()">
            <span style="font-weight: bold">
              Serviços Disponíveis
            </span>
             <ion-icon ios="ios-log-in" md="md-log-in" style="margin-left: 10px;"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
