page-editar {
     font-family: Dessau-Light;

     ion-header.editar-header {
        color:  white;
        font-weight: bold;

        .title-header {
            display: table;
            font-size: 1.5em;
            font-weight: bold;
            width: 100%;

            button {
                float: left;
            }

            .title-text {
                align-items: center; 
                height: 32px;
            }
        }

        .toolbar-md {
            height: 56px;
        }
    }

    ion-content.editar-content {        
        ion-avatar {
            text-align: center;

            ion-card-content {
                width: 100%;
            }

            img {
                margin-left: auto;
                margin-right: auto;
            }
        }

        ion-item {
            padding: 0 16px;
        }

        ion-label {
            margin: 0 8px 11px 0;
        }
    }

    .profile-avatar img {
      margin: auto;
      width: 50vw;
      height: 50vw;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    button.inserir {
      font-weight: bold;
    }

    button.salvar, .atualizarSenha {
        font-weight: bold;
        
        ion-icon {
            margin-right: 10px;
        }
    }
}
