<div class="p-5 container">
    <div class="row">
        <div class="col-md-12" align="center">
            <img src="assets/logo-login.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            <h2>trampo</h2>  
        </div>
    </div>
  <div [hidden]="submitted">
    <div class=" p-2 row">
        <div class="col-md-3"></div>
        <div class="col-md-6" align="center">
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password" ngModel required>
              </div>
              <div class="form-group">
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password" name="confirmPassword" class="form-control" id="confirm-password" placeholder="Confirm Password" ngModel required>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Submit</button>
            </form>
        </div>
    </div>
  </div>
  <div [hidden]="!submitted" style="text-align: center; margin-top: 50px;">
    <h2>Sua senha foi alterada com sucesso!</h2>
  </div>
</div>
