page-detalhes {
    font-family: Dessau-Light;

    ion-header.detalhes-header {
        color:  white;
        font-weight: bold;

        .title-header {
            display: table;
            font-size: 1.5em;
            font-weight: bold;
            width: 100%;

            button {
                float: left;
            }

            .title-text {
                align-items: center;
                height: 32px;
            }
        }

        .toolbar-md {
            height: 56px;
        }
    }

    ion-content.detalhes-content {
        ion-avatar {
            background-color: #e0e0e0;
            display: table;
            text-align: center;
            width: 100%;

            ion-icon {
                font-size: 25vh;
            }
        }

        ion-label {
            margin: 0 8px 11px 0;
        }
    }

    button.visualizar, .cancelar, .finalizar {
        font-weight: bold;

        ion-icon {
            margin-right: 10px;
        }
    }
}
