<ion-item>
    <ion-thumbnail item-start>
        <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
    </ion-thumbnail>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <span>{{ servico.descricao}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <span><strong>Estado:</strong> {{ getEstadoServicoFormatado() }}</span>
            </ion-col>
            <ion-col>
              <span><strong>Área do(a):</strong> {{ formataArea() }}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <span><strong>Data:</strong> {{ getDataServicoFormatada() }}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
