item-list-servico {

    ion-icon {
        font-size: 48px;
    }

    ion-thumbnail {
        min-height: 48px !important;
        min-width: 48px !important;
    }

    span {
        white-space: normal;
    }
}
