page-avaliacao {
    font-family: Dessau-Light;

    ion-header.avaliacao-header {
        color:  white;
        font-weight: bold;

        .title-header {
            display: table;
            font-size: 1.5em;
            font-weight: bold;
            width: 100%;

            button {
                float: left;
            }

            .title-text {
                align-items: center;
                height: 32px;
            }
        }

        .toolbar-md {
            height: 56px;
        }
    }

    ion-content.avaliacao-content {
        ion-avatar {
            background-color: #e0e0e0;
            display: table;
            text-align: center;
            width: 100%;

            ion-icon {
                font-size: 25vh;
            }
        }

        rating {
            ion-buttons {
                margin-left: calc((100% - 237.40px) / 2);
            }
        }
    }

    .profile-avatar img {
      margin: auto;
      width: 50vw;
      height: 50vw;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    button.confirmar {
        font-weight: bold;

        ion-icon {
            padding-right: 10px;
        }
    }

}
