page-listagem-ofertas {
  font-family: Dessau-Light;

  ion-header.listagem-header {
    color:  white;
    font-weight: bold;

    .title-header {
      display: table;
      font-size: 1.5em;
      font-weight: bold;
      width: 100%;

      button {
        float: left;
      }

      .title-text {
        align-items: center;
        height: 32px;
      }
    }

    .toolbar-md {
      height: 56px;
    }
  }
}
