item-list-dashboard {
    ion-icon {
        font-size: 38px;
    }

    ion-thumbnail {
        min-height: 28px !important;
        min-width: 28px !important;
    }

    span {
        white-space: normal;
    }
}
